body {
    background-color: #FAF7F2;
}


h1 {
  /* position: absolute; */
  top: 6%;
  left:45%;
  color:  #192557;
  font-size: 1.8em;
  font-family:  Times, serif;
 
}


div#btn{
    display: flex;
    flex-direction: row;
    position: absolute; 
    top: 90%;
    left: 30%;
 }
 
 button{
    cursor:pointer;
    background-color: #192557;
    margin: 2%;
    font: 1em 'Trebuchet MS', sans-serif;
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 40px;
    height: 40px;
    width: 90px;
 
 }
 
 a{
     text-decoration: none;
     color: #ffffff;
  
 }
 
   
#btn button:hover {
    background-color:#ff7878;
    transform: scale(1.1);
}
   
#logOutBtn {
    position: absolute; 
    top: -1350%;
    left: 300%;

}
#propImg img{
    position: absolute;
    top: 150%;
    left: 16%;
    width: 65%;
}

#propImg:hover img{
    transform: scale(1.5);
}
img{
    transition: transform 0.25s;
}

.form-style-4{
	width: 450px;
	font-size: 16px;
	/* padding: 30px 30px 15px 30px; */
    /* position: absolute; */
    top: 23%;
    left: 25%;
    width: 600px;
    height: 650px;
    background-color: #FAF7F2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    line-height: 260%;
    border-radius: 20px;
}

.form-style-4 input[type=text],
.form-style-4 label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #192557;;

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
   
}
.form-style-4 label > span{
	display: inline-block;
	width: 200px;
}

.form-style-4 input[type=text] 
{
    text-align: center;
    pointer-events: none;
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
}

.form-style-4 textarea{

    text-align: center;
    pointer-events: none;
    background-color: #FAF7F2;
    line-height: 1.2em;
    font-size: 1em;
    padding-top: 8%;
    font-family:  Times, serif;
    color: #192557;
    height: 150px;
	
}


