@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    background-color: beige;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

#logo{
    position: absolute;
    width: min(50vw, 250px);
    left: 0%;
    top: -30%;
} */

body{
    background-color: #F5F5DC;
}

img{
    width: 50%;
}

h1 {
  text-align: center;
  padding: 3%;
}

a{
    color: black;
    text-decoration: none;
}

#btn2 , #btn3{
    position: relative;
    cursor:pointer;
    left: 35%;
    right: 50%;
    margin-bottom: 3%;
    background-color:#fee47a;
    margin-left: 3%;
    font: 1em sans-serif;
    color: black;
    border: none;
    border-radius: 10%;
    min-height: 50px; 
    min-width: 50px;
    
 }
 #btn1 {
    position: relative;
    left: 90%;
    cursor:pointer;
    background-color:#fee47a;
    font: 1em sans-serif;
    color: black;
    border: none;
    border-radius: 10%;
    min-height: 50px; 
    min-width: 50px;
 

 }

 #btn button:hover {
    background-color:#d1bb60;
    transition: 0.5s;
}

ul {
    background: white;
    padding: 20px;
    list-style-position: inside; 
    text-align: center;
    
  }

ul li{
    background: #ffffff;
    margin: 8px;
    color: black;
    
}

div#propInfo{
    width: 50%;
    margin: auto;
    margin-bottom: 3%;
    line-height: 200%;
}

div#propImge{
    margin: auto;
    width: 50%;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-bottom: 3%;

}





