.RA table,
.RA th,
.RA tr,
.RA td ,
.LP table,
.LP th,
.LP tr,
.LP td 
{
    border: 2px solid;
    border-color: black;
    text-align: center;
    margin: auto;
    padding: 15px;
    justify-content: center; 
}
.a , .d , .property , .applicant, .del{
    display: inline;
    cursor: pointer;
    text-decoration: underline;
    color: #9D9D9D;
}

#HO_Info p {
     display: inline;
     text-align: center;
}
body{
   background-color: #F5FDDC;
}

.LP th, .RA th {
    background-color: #FFDE59;
}