body {
    background-color: #FAF7F2;

}

img {
    width: 100%;
    height: auto;
}


.backgroundImage {
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#logo {

     /* (A) RESPONSIVE LOGO */
     width: 100%;
     height: auto;
 
     /* (B) RECOMMENDED - LIMIT MAXIMUM WIDTH */
     max-width: 250px;

    position: absolute;
    left: 0;
    top: -5%;
}

#front {
    color: #E8B74D;
    position: absolute;
    left: 40%;
    top: 13%;
    font: 1.5em 'Trebuchet MS', sans-serif;

}

div#btn {
    position: absolute;
    display: flex;
    height: 50%;
    flex-direction: column;
    top: 60%;
    left: 150%;
}

button {
    cursor: pointer;
    background-color: #192557;
    margin: 5%;
    font: 1em 'Trebuchet MS', sans-serif;
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 40px;
    min-height: 80px;
    min-width: 190px;

}

.button-grow a {
    text-decoration: none;
    color: #ffffff;

}


.button-grow:hover {
    background-color: #ff7878;
    transform: scale(1.1);
}
