
body{
    /* justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap; */
    margin-top: 25%;
    
}


.RA table,
.RA th,
.RA tr,
.RA td ,
.LP table,
.LP th,
.LP tr,
.LP td 
{
    border: 2px solid;
    border-color: black;
    text-align: center;
    margin: auto;
    padding: 15px;
    justify-content: center; 
}
.a , .d , .property , .applicant, .del{
    display: inline;
    cursor: pointer;
    text-decoration: underline;
    color: #9D9D9D;
}

#info  {
     display: inline;
     text-align: center;
}

.LP th, .RA th {
    background-color: #FFDE59;
}


header , #info , #head{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
}
#logo{
    position: absolute;
    width: min(50vw, 250px);
    left: 0%;
    top: -30%;
    margin-bottom: 20%;
   
}

#info {
     margin-top: 15%;
}
 #head { margin-top: 10%;}

#btn1 {
    position: relative;
    left: 95%;
    margin-top: 2%;
    cursor:pointer;
    background-color:#fee47a;
    font: 1em sans-serif;
    color: black;
    border: none;
    border-radius: 10%;
       min-height: 30px; 
    width: 60px;
   
    text-align: center;
 
 text-decoration: none;

 }

 
 #ADD{
      position: relative;
    left: 80%;
      cursor:pointer;
    background-color:#fee47a;
    font: 1em sans-serif;
    color: black;
    border: none;
    border-radius: 10%;
     height: 50px; 
    width: 50px;
    text-align: center;
   text-decoration: none;
 }
 a#ADD:hover , a#btn1:hover {
      background-color: #d1bb60;
       transition: 0.5s;
 }