@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none; */
}

/* img{
    width: 100%;
} */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* test */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    background-color: beige;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

#logo{
    position: absolute;
    /* width: 20.5%; */
    width: min(50vw, 250px);
    left: 0%;
    top: -30%;
}

div#btn{
   position: absolute;
   display: flex;  
   justify-content: center;  
   align-items: center; 
   flex-direction: column;
   border: 2px solid rgb(255, 255, 255);
   border-radius: 12%;
   padding: 3%;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgb(255, 255, 255);
   width: max-content;
   
}

button.log{
   cursor:pointer;
   background-color: #ffde59;
   margin: 10%;
   font: 1em sans-serif;
   color: #000000;
   border: none;
   border-radius: 10%;
   padding:2px;
   min-height: 100px; 
   min-width: 200px;
   margin-left: 3px;
}

button.log:hover {
    background-color: rgb(250, 244, 199);
    transition: 0.5s;
}

/* a{
    text-decoration: none;
    color: #9d9d9d;
 
} */

a:hover{
    text-decoration:underline;
}


/* Login */

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 400px;
    /* height: 440px; */
    min-height: fit-content;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label, 
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
  
}

.forgot a{
    color: #162938;
    text-decoration: none;
}

.forgot a:hover{
    text-decoration: underline;
}

.login-submit{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;

}



